<div class="p-4">
  <button
    (click)="onClick()"
    class="rounded p-2 bg-salmon text-white font-bold hover:bg-opal"
  >
    Add column
  </button>

  <div
    cdkDropList
    class="w-content flex flex-row overflow-hidden"
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      *ngFor="let column of columns"
      class="column cursor-move bg-white shadow-md"
      cdkDrag
    >
      <app-column
        (delete)="onDeleteColumn($event)"
        [column]="column"
      ></app-column>

      <div
        class="column bg-gray-400 border-dotted border-4 border-gray-600"
        *cdkDragPlaceholder
      ></div>
    </div>
  </div>
</div>
