<div class="p-4 flex flex-row">
  <div
    cdkDropList
    class="w-content flex flex-row overflow-hidden"
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      *ngFor="let column of columns"
      class="column cursor-move bg-white shadow-md min-h-placeholder"
      cdkDrag
    >
      <app-column
        (delete)="onDeleteColumn($event)"
        [column]="column"
      ></app-column>

      <div
        class="column bg-gray-400 border-dotted border-4 border-gray-600 min-h-placeholder"
        *cdkDragPlaceholder
      ></div>
    </div>
  </div>

  <app-add-column (addColumn)="onAddColumn()"></app-add-column>
</div>
